{% extends 'base.html.twig' %}

{% block title %}Atypik|About{% endblock %}

{% block body %}
{% include 'shared/header.html.twig'%}
<div class="full-row">
    <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <h3 class="double-down-line-left text-secondary position-relative pb-4 mb-4">A propos de notre histoire</h3>
                </div>
            </div>
            <div class="row about-company">
                <div class="col-md-12 col-lg-7">
                    <div class="about-content">
                        <p>Il y &eacute;tait une fois trois amis qui avaient une passion commune pour lexploration de nouveaux<br />endroits, le voyage et le respect de la nature. Ensemble, ils passaient des heures &agrave; parler de leurs<br />aventures pass&eacute;es, des habitats insolites dans lesquels ils avaient s&eacute;journ&eacute; et des lieux &nbsp;visit&eacute;s.</p>
<p>En discutant avec des personnes, ils se sont rendu compte que beaucoup cherchaient<br />&eacute;galement des exp&eacute;riences de voyage plus authentiques et &eacute;cologiques. Ainsi est n&eacute;e<br />leur id&eacute;e de cr&eacute;er leur propre entreprise sp&eacute;cialis&eacute;e dans la location de h&eacute;bergements insolites en<br />France et en Europe. Ils souhaitaient offrir &agrave; leurs clients la possibilit&eacute; de vivre une exp&eacute;rience<br />unique en s&eacute;journant dans des h&eacute;bergements respectueux de la nature, en harmonie avec<br />ce dernier.</p>
                    </div>
                </div>
                <div class="col-md-12 col-lg-5 mt-5">
                    <div class="about-img">
                        <img src="../../images/condos-pool.png" alt="about image">
                    </div>
                </div>
            </div>
    </div>
</div>

{% include 'shared/footer.html.twig'%}


{% endblock %}
