{% extends 'base.html.twig' %}

{% block title %}AtypikHouse|CGV{% endblock %}

{% block body %}
{% include 'shared/header.html.twig'%}
<body>
    <h1>Conditions Générales de Vente</h1>

    <h2>Objet</h2>
    <p>Les présentes Conditions Générales de Vente (CGV) définissent les modalités de réservation et de location des habitations insolites proposées par AtypikHouse.</p>

    <h2>Réservation et Paiement</h2>
    <p>Les réservations peuvent être effectuées en ligne sur notre site web. Le paiement doit être effectué selon les modalités précisées lors de la réservation.</p>

    <h2>Annulation</h2>
    <p>Toute annulation doit être effectuée conformément à notre politique d'annulation, laquelle est précisée lors de la réservation.</p>

    <h2>Responsabilité</h2>
    <p>AtypikHouse ne saurait être tenu responsable des éventuels dommages ou accidents survenus pendant le séjour dans nos habitations insolites.</p>

    <h2>Modification des CGV</h2>
    <p>Les présentes CGV sont susceptibles d'être modifiées à tout moment. Les modifications seront applicables aux réservations effectuées après la date de modification.</p>

    <h2>Contact</h2>
    <p>Pour toute question concernant nos CGV, veuillez nous contacter à l'adresse : contact@atypikhouse.com.</p>

    <p>Ces CGV sont susceptibles d'être mises à jour. Veuillez consulter cette page régulièrement pour rester informé des éventuelles modifications.</p>

    <p>Date de mise à jour : 29/05/2021</p>

{% include 'shared/footer.html.twig'%}

{% endblock %}
