<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" type="images/png" href="{{ asset('/images/favicon-16x16.png') }}">
    <link rel="manifest" href="../manifest.json">
    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/sw.js')
                .then(function(registration) {
                    console.log('Service Worker registered with scope:', registration.scope);
                })
                .catch(function(error) {
                    console.error('Service Worker registration failed:', error);
                });
        }
    </script>
    {% block stylesheets %}
    {% endblock %}
    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>
