{% extends 'base.html.twig' %}

{% block title %}AtypikHouse|Presse{% endblock %}

{% block body %}
{% include 'shared/header.html.twig'%}

{# Section Content #}
<section class="press-content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <div class="text-center">
                    <h2>À propos de la rubrique Presse</h2>
                    <p>
                        Cette rubrique s'adresse à tous les professionnels de la communication (journalistes, blogueurs, prescripteurs...) souhaitant en savoir plus sur l'actualité de la marque Atypik House.
                        Notre équipe est à votre disposition pour vous aider et vous accompagner lors de la préparation de vos articles, interviews, reportages et bien plus encore.
                    </p>
                </div>
            </div>
            <div class="col-md-6 mb-4 d-flex justify-content-center align-items-center">
                <div class="press-content">
                    <img src="../../public/images/improve work performance.jpg" alt="Image de Presse" style="max-width: 100%; height: auto;">
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'shared/footer.html.twig'%}
{% endblock %}
