{% extends 'base.html.twig' %}

{% block title %}Atypikhouse | Devenez Partenaire{% endblock %}

{% block body %}
{% include 'shared/header.html.twig'%}
<!-- Banner Start -->
<div class="overlay-black w-100 slider-banner1 position-relative" style="background-image: url('../public/images/CABANE-SPA-TRIBU-COUCOO-GRANDS-CHÊNES-1.jpg'); background-size: cover; background-position: center center; background-repeat: no-repeat;">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-12">
                <div class="text-white">
                    <h1 class="mb-4"><span class="text-success">Embarquez dans l'aventure et dynamisez vos ventes !</span><br>
                        Découvrez la première plateforme dédiée à la commercialisation exclusive d'hébergements atypiques !</h1>
                    <!-- Button -->
                    <a href="{{path('app_submit_property')}}" class="btn btn-primary">Cliquez ici pour démarrer</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->
{# Idée Maîtresse #}
<div class="full-row bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="text-secondary double-down-line text-center mb-5">Idée Maîtresse</h2>
            </div>
        </div>
        <div class="text-box-one">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="p-4 text-center hover-bg-white hover-shadow rounded mb-4 transation-3s">
                        <i class="flaticon-rent text-success flat-medium" aria-hidden="true"></i>
                        <h5 class="text-secondary hover-text-success py-3 m-0"><a href="#">Place de marché</a></h5>
                        <p>Nous proposons un service de vente d'hébergements atypiques et exclusifs, soigneusement sélectionnés pour répondre à vos besoins uniques.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="p-4 text-center hover-bg-white hover-shadow rounded mb-4 transation-3s">
                        <i class="flaticon-for-rent text-success flat-medium" aria-hidden="true"></i>
                        <h5 class="text-secondary hover-text-success py-3 m-0"><a href="#">Modèle à la performance</a></h5>
                        <p>Atypikhouse se distingue par son approche personnalisée, sa large sélection d'hébergements exclusifs et son équipe dévouée.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="p-4 text-center hover-bg-white hover-shadow rounded mb-4 transation-3s">
                        <i class="flaticon-list text-success flat-medium" aria-hidden="true"></i>
                        <h5 class="text-secondary hover-text-success py-3 m-0"><a href="#">Réservation instantanée</a></h5>
                        <p>Découvrez notre sélection rigoureuse de logements atypiques prêts à satisfaire vos aspirations uniques.</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                <div class="p-4 text-center hover-bg-white hover-shadow rounded mb-4 transation-3s">
                    <i class="flaticon-diagram text-success flat-medium" aria-hidden="true"></i>
                    <h5 class="text-secondary hover-text-success py-3 m-0"><a href="#">Investissement légal</a></h5>
                    <p>Chez Atypikhouse, nous sommes ravis de vous présenter des possibilités d'investissement légales et prometteuses, conçues pour vous permettre de bâtir un avenir financier solide.</p>
                </div>
</div>

            </div>
        </div>
    </div>
</div>
{# Fin Idée Maîtresse #}

<section id="ce_que_l_on_vous_apporte" class="full-row bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="text-secondary double-down-line text-center mb-5">Ce que l'on vous apporte</h2>
            </div>
        </div>
        <div class="text-box-one">
            <div class="row">
                <div class="col-md-3">
                    <div class="p-4 text-center hover-bg-white hover-shadow rounded mb-4 transation-3s">
                        <i class="flaticon-list text-success flat-medium" aria-hidden="true"></i>
                        <h5 class="text-primary hover-text-success py-3 m-0"><a href="#">Réservations Instantanées</a></h5>
                        <p>Une réservation ferme avec un règlement de 100% du séjour à la réservation.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="p-4 text-center hover-bg-white hover-shadow rounded mb-4 transation-3s">
                        <i class="fa fa-users fa-3x mb-4 text-primary"></i>
                        <h5 class="text-primary hover-text-success py-3 m-0"><a href="#">Audience Ciblée</a></h5>
                        <p>Des clients en recherche d'une expérience unique.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="p-4 text-center hover-bg-white hover-shadow rounded mb-4 transation-3s">
                        <i class="fa fa-eye fa-3x mb-4 text-primary"></i>
                        <h5 class="text-primary hover-text-success py-3 m-0"><a href="#">Forte Visibilité</a></h5>
                        <p>Une notoriété et une visibilité grâce à un référencement pertinent et ciblé.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="p-4 text-center hover-bg-white hover-shadow rounded mb-4 transation-3s">
                        <i class="fa fa-gift fa-3x mb-4 text-primary"></i>
                        <h5 class="text-primary hover-text-success py-3 m-0"><a href="#">Boutique Cadeau</a></h5>
                        <p>La possibilité pour le client d'offrir un séjour sans date. Un levier de vente supplémentaire en toute saison.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="p-4 text-center hover-bg-white hover-shadow rounded mb-4 transation-3s">
                        <i class="fa fa-headphones fa-3x mb-4 text-primary"></i>
                        <h5 class="text-primary hover-text-success py-3 m-0"><a href="#">Accompagnement et Conseils</a></h5>
                        <p>Une équipe à votre écoute pour répondre à vos demandes et une aide en ligne accessible 24/7.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="p-4 text-center hover-bg-white hover-shadow rounded mb-4 transation-3s">
                        <i class="fa fa-bullhorn fa-3x mb-4 text-primary"></i>
                        <h5 class="text-primary hover-text-success py-3 m-0"><a href="#">Service Marketing et Presse</a></h5>
                        <p>Une communauté de 150 000 followers sur nos réseaux sociaux. *Sous conditions.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="nous_rejoindre" class="full-row living bg-one overlay-secondary-half" style="background-image: url('../../public/images/teams4.jpg'); background-size: cover; background-position: center center; background-repeat: no-repeat;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <div class="living-list pr-4">
                    <h3 class="pb-4 mb-3 text-white">NOUS REJOINDRE</h3>
                    <p class="text-white">Rejoignez l'aventure ! Vous souhaitez en savoir plus ? Soumettez votre demande à notre service partenaires ! Après étude de votre offre, notre équipe se chargera de revenir vers vous afin de vous présenter les conditions de la collaboration et échanger avec vous au sujet de notre partenariat.</p>
                    <a href="{{path('app_submit_property')}}" class="btn btn-success">Nous Rejoindre</a>
                </div>
            </div>
        </div>
    </div>
</section>





{% include 'shared/footer.html.twig'%}
{% endblock %}
