{% extends 'base.html.twig' %}

{% block title %}Atypikhouse | Devenez Partenaire{% endblock %}

{% block body %}
{% include 'shared/header.html.twig'%}
<!-- Banner Start -->
<div class="overlay-black w-100 slider-banner1 position-relative" style="background-image: url('../public/images/CABANE-SPA-TRIBU-COUCOO-GRANDS-CHÊNES-1.jpg'); background-size: cover; background-position: center center; background-repeat: no-repeat;">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-12">
                <div class="text-white">
                    <h1 class="mb-4"><span class="text-success">Embarquez dans l'aventure et dynamisez vos ventes !</span><br>
                        Découvrez la première plateforme dédiée à la commercialisation exclusive d'hébergements atypiques !</h1>
                    <!-- Button -->
                    <a href="{{path('app_submit_property')}}" class="btn btn-primary">Cliquez ici pour démarrer</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->
{% include 'shared/footer.html.twig'%}
{% endblock %}
