{% extends 'base.html.twig' %}

{% block title %}Atypikhouse | Devenez Partenaire{% endblock %}

{% block body %}
{% include 'shared/header.html.twig'%}
<!-- =========================
   SECTION PARTNER
============================== -->
<section id="partner" class="hero bg-img" style="background-image: url('https://www.cabanesdesgrandschenes.com/wp-content/uploads/2018/02/CABANE-SPA-TRIBU-COUCOO-GRANDS-CH%C3%8ANES-1.jpg');">
    <div class="overlay"></div>            

    <div class="container vertical-center-rel">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-white p-t-md">Devenez partenaire avec Atypikhouse !</h1>
                <p class="lead text-white m-b-md">Rejoignez-nous et boostez vos ventes en proposant vos hébergements atypiques sur notre plateforme !</p>
                <a href="lien/vers/votre/page_de_partenariat" class="btn btn-shadow btn-green text-uppercase btn-md smooth-scroll">C'EST PARTI !</a>
            </div>
        </div><!-- /End Row -->
    </div><!-- /End Container -->

</section><!-- /End Hero Section -->

<!-- =========================
   SECTION FUNFACTS
============================== -->
<section id="funfacts" class="p-y bg-edit counter-start">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="funfacts text-center">
                    <div class="col-md-4 clearfix p-t">
                        <div class="counter-left">
                            <i class="fa fa-plus"></i>
                            <div class="counter" data-from="0" data-to="500" data-speed="2500"></div>
                        </div>
                        <div class="text text-left text-edit">hébergements atypiques disponibles</div>
                    </div>
                    <div class="col-md-4 p-t clearfix">
                        <div class="counter-left">
                            <i class="fa fa-plus"></i>
                            <div class="counter" data-from="0" data-to="1000" data-speed="2500"></div>
                        </div>
                        <div class="text text-left text-edit">propriétaires partenaires</div>
                    </div>
                    <div class="col-md-4 p-t clearfix">
                        <div class="counter-left">
                            <i class="fa fa-plus"></i>
                            <div class="counter" data-from="0" data-to="10000" data-speed="2500"></div>
                        </div>
                        <div class="text text-left text-edit">clients satisfaits</div>
                    </div>
                </div>
            </div><!-- /End Col-12 -->
        </div><!-- /End Row -->
    </div><!-- /End Container -->
</section><!-- /End Funfacts Section -->

<!-- =========================
   SECTION ABOUT US
============================== -->
<section id="about" class="p-y-lg content-block content-align-md bg-edit" style="background-image: url('chemin/vers/votre/image/arriere-plan.jpg');">
    <div class="container">
        <div class="row y-middle c2">
            <div class="col-md-5 col-md-push-6">
                <h2 class="m-b-md">À propos d'Atypikhouse</h2>
                <p class="lead m-b-0">Basée dans le Sud de la France, Atypikhouse est une plateforme leader sur le marché de l'insolite. Nous référençons des hébergements atypiques partout sur notre territoire, offrant ainsi une expérience unique à nos clients.</p>
                <p>Nos valeurs :</p>
                <ul>
                    <li>Relation de confiance avec nos partenaires</li>
                    <li>Respect mutuel et collaboration</li>
                    <li>Service réactif, humain et qualitatif</li>
                </ul>
            </div>
            <div class="col-md-6 col-md-pull-5">
                <img src="chemin/vers/votre/image/photo.jpg" class="img-responsive m-x-auto" alt="">
            </div>
        </div><!-- /End Row -->
    </div><!-- /End Container-->
</section><!-- /End About Us Section -->

{% include 'shared/footer.html.twig'%}
{% endblock %}
